body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Maximize';
  src: local('Maximize'), url(./fonts/Maximize.ttf) format('truetype')
}

/* *{
  font-family: 'Helvetica Neue';
} */

/* **************NAVBAR************** */

.navbar{
  background-color: white;
  height: 35px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar a{
  color: black;
}

.navbar a:visited{
  color: black;
}

.navbar-right{
  float: right;
}

.navbar-logo{
  height: 33px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 5px;
}

.navbar-left {
  float: left;
}

.dropdown {
  margin-left: 5px;
  overflow: hidden;
}

.dropbtn{
  height: 31px;
  padding-left: 4px; 
  padding-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: .25px solid #c0c0c0;
  border-radius: 3px;
}

.dropbtn:hover {
  background-color: #b2b2b2;
}

.menu-div{
  display: inline-flex;
}

.menu-btn{
  height: 23px;
  padding: 0px;
}

.navbar-left span{
  font-size: 20px;
  padding: 5px;
  display: block;
  line-height: normal
}

.dropdown-content {
  /* position: absolute; */
  background-color: #f3f3f3;
  min-width: 130px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: #black;
  padding: 8px 8px;
  text-decoration: none;
  display: flex;
  justify-content: left;
}

.dropdown-content a:hover{
  font-weight: bold;
  color: #0492c2
}

/* **************Footer************** */
.footer{
  width: 100;
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
}

.footer-logo{
  width: 3vw;
}

.footer a{
  text-decoration: none;
  color: black;
  width: 17vw;
  font-size: 1.2vw;
  margin-top: .8vw;
  text-align: center;
}

.footer a:visited{
  color: black;
}


/* **************PROFILE CONTAINER************** */

.profile-container{
  width: 80vw;
  margin: auto;
}

.profile-banner{
  width: 80vw;
  margin: auto;
}

.banner-box{
  width: inherit;
  margin-top: 10px;
}

.banner-box img{
  width: inherit;
}

.profile-info{
  margin-top: -7vw;
  margin-left: 3vw;
  margin-right: 3vw;
  width: 74vw;
  display: flex;
  justify-content: space-between;
  height: 14vw;
  z-index: 1;
}

.profile-info img{
  border: white 4px solid;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.profile-info h1{
  margin: 0;
  padding: 0;
  font-size: 4vw;
  margin-top: 6vw;
}

.join-date{
  margin: 0;
  padding-top: 8vw;
  color: #7a7a7a;
  font-size: 1vw;
}

#calendar-logo{
  width: 2vw;
  height: 2vw;
  border-radius: 0;
  border: none;
  margin-right: 2px;
}

.join-date span{
  font-size: 1.6vw;
  font-weight: bold;
  vertical-align: super;
}

@media screen and (max-width: 600px) {

  .profile-container{
    width: 90vw;
    margin: auto;
  }
  

  .profile-banner{
    width: 90vw;
    margin: auto;
  }

  .banner-box{
    width: inherit;
    margin-top: 2vw;
  }

  .banner-box img{
    width: inherit;
  }

  .profile-info{
    margin-top: -7vw;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 84vw;
    display: flex;
    justify-content: space-between;
    height: 14vw;
    z-index: 1;
  }

  .profile-info img{
    border: white 3px solid;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
  }

  .profile-info h1{
    margin: 0;
    padding: 0;
    font-size: 5vw;
    margin-top: 6vw;
  }

  .join-date{
    margin: 0;
    padding-top: 8.5vw;
    color: #7a7a7a;
    font-size: 2vw;
  }

  #calendar-logo{
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 0;
    border: none;
    margin-right: 2px;
  }

  .join-date span{
    font-size: 1.6vw;
    font-weight: bold;
    vertical-align: super;
  }

}

/* **************Request Form************** */

.request-container{
  width: 80vw;
  background-color: white;
  margin: 10px auto;
}

.request-container img{
  width: inherit;
}

.request-form{
  width: 70vw;
  margin: auto;
}

.request-form h2{
  font-family: 'Maximize';
  margin-top: 10px;
  margin-bottom: 0px;
  color: #061430;
  font-size: 2vw;
  text-align: center;
}

.request-form p {
  margin-top: 5px;
  font-size: 1.4vw;
  color: #515151;

}

.request-details{
  width: 70vw;
  border: solid .25px #dedede;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.request-details p{
  text-align: center;
  color: red;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 500;
}

.request-details:hover{
  border: solid .25px #061430;
}

.request-complete{
  width: 60vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.request-complete h3{
  font-size: 2vw;
  margin: 0;
}

.request-complete span{
  color: #0492c2;
}

.request-complete button{
  border: none;
  border-radius: 3px;
  padding: 1.6px 5px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 1.3vw;
  background-color: #989898;
}

.request-complete button:hover{
  background-color: #0492c2;
}

.search-filter{
  width: 60vw;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.search-filter input{
  margin: 0 5px;
  width: 20vw;
}

.search-filter button{
  border: none;
  border-radius: 3px;
  padding: 1.6px 5px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 1.4vw;
  background-color: #989898;
}

.search-filter button:hover{
  background-color: #0492c2;
}

.request-form h1{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #061430;
  font-size: 2.5vw;
}

.item-card{
  vertical-align: middle;
}

.img-column{
  width: 5vw;
}

.item-image{
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}

.item-name{
  width: 31vw;
  font-weight: 500;
  font-size: 1.5vw
}

.pref-column{
  width: 18vw;
}

.pref-column input{
  width: 16vw;
  font-size: 1.2vw;
}

.quantity-column{
  width: 5vw;
}

.quantity-column input{
  width: 2.5vw;
  margin-left: .8vw;
  font-size: 1.2vw;
}

.btn-column{
  text-align: right;
  width: 7vw;
}

.add-remove-btn{
  float: right;
  border: none;
  border-radius: 3px;
  width: 6vw;
  padding: 2px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 1.5vw;
  background-color: #989898;
}


#add-btn:hover{
  background-color: #0492c2;
}

#remove-btn{
  background-color: red;
}

@media screen and (max-width: 600px) {

  .request-container{
    width: 90vw;
    background-color: white;
    margin: 1.5vw auto;
  }

  .request-container img{
    width: inherit;
  }

  .request-form{
    width: 80vw;
    margin: auto;
  }

  .request-form h2{
    font-family: 'Maximize';
    margin-top: 10px;
    margin-bottom: 0px;
    color: #061430;
    font-size: 2.4vw;
    text-align: center;
  }
  
  .request-form p {
    margin-top: 5px;
    font-size: 1.5vw;
    color: #515151;
  }

  .request-details{
    width: 70vw;
    border: solid .25px #dedede;
    border-radius: 3px;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  .request-details p{
    text-align: center;
    color: red;
    margin: 0 auto;
    margin-top: 1vw;
    font-weight: 500;
  }
  
  .request-details:hover{
    border: solid .25px #061430;
  }
  
  .request-complete{
    width: 60vw;
    margin: 1vw auto;
    display: flex;
    justify-content: space-between;
  }
  
  .request-complete h3{
    font-size: 2vw;
    margin: 0;
  }
  
  .request-complete span{
    color: #0492c2;
  }
  
  .request-complete button{
    border: none;
    border-radius: 3px;
    padding: 1.6px 5px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.3vw;
    background-color: #989898;
  }
  
  .request-complete button:hover{
    background-color: #0492c2;
  }

  .search-filter{
    width: 60vw;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }

  .search-filter label{
    font-size: 1.5vw
  }
  
  .search-filter input{
    margin: 0 5px;
    width: 20vw;
    font-size: 1.5vw;
  }
  
  .search-filter button{
    border: none;
    border-radius: 3px;
    padding: 2.5px 5px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.5vw;
    background-color: #989898;
  }
  
  .search-filter button:hover{
    background-color: #0492c2;
  }

  .request-form h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #061430;
    font-size: 3.5vw;
  }

  .item-card{
    vertical-align: middle;
  }

  .img-column{
    width: 7vw;
  }

  .item-image{
    width: 6vw;
    height: 6vw;
  }

  .item-name{
    width: 34vw;
    font-weight: 500;
    font-size: 1.8vw
  }

  .pref-column{
    width: 20vw;
  }

  .pref-column input{
    width: 18vw;
    font-size: 1.6vw;
  }

  .quantity-column{
    width: 7vw;
    vertical-align: middle;
  }

  .quantity-column input{
    width: 3vw;
    margin-left: 2.1vw;
    font-size: 1.6vw;
  }

  .btn-column{
    text-align: right;
    width: 9vw;
    vertical-align: middle;
  }

  .add-remove-btn{
    float: right;
    border: none;
    border-radius: 3px;
    width: 7vw;
    padding: 2px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.6vw;
    background-color: #989898;
  }


  #add-btn:hover{
    background-color: #0492c2;
  }

  #remove-btn{
    background-color: red;
  }

}


