body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Maximize';
  src: local('Maximize'), url(./fonts/Maximize.ttf) format('truetype')
}

* button{
  cursor: pointer;
}

/* **************Home************** */
.home{
  margin-top: 20px;
}
.home-page{
  border-top: solid .25px #dedede;
  border-bottom: solid .25px #dedede;
  width: 100vw;
}

/* **************NAVBAR************** */

.navbar{
  background-color: white;
  height: 3vw;
  padding-top: .2vw;
  padding-bottom: .2vw;
}

.navbar a{
  color: black;
}

.navbar a:visited{
  color: black;
}

.navbar-right{
  float: right;
}

.navbar-logo{
  height: 2.8vw;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 5px;
  cursor: pointer;
}

.navbar-left {
  float: left;
  display: flex;
}

.dropdown {
  margin-left: 5px;
  overflow: hidden;
}

.dropbtn{
  height: 2.6vw;
  padding-left: .5vw; 
  padding-right: .5vw;
  margin-top: .2vw;
  margin-bottom: .2vw;
  border: .25px solid #c0c0c0;
  border-radius: 3px;
  vertical-align: middle;
}

.dropbtn:hover {
  background-color: #b2b2b2;
}

.mess-drop-btn{
  height: 2.6vw;
  padding-left: .5vw; 
  padding-right: .5vw;
  margin-top: .2vw;
  margin-bottom: .2vw;
  border: .25px solid #c0c0c0;
  border-radius: 3px;
}

.mess-drop-btn:hover {
  background-color: #b2b2b2;
}

.menu-div{
  display: inline-flex;
  position: relative;
}

.menu-btn{
  height: 2vw;
  padding: 0px;
}

.mess-btn{
  height: 2.1vw;
  padding: 0px;
}

.menu-div .badge {
  position: absolute;
  bottom: 0px;
  right: 1px;
  height: .2vw;
  width: .6vw;
  border-radius: 50%;
  background: #0492c2;
  text-align: center;
  color: white;
  font-size:.7vw;
  font-weight: bold;
  line-height: .3vw;
}

.navbar-left span{
  font-size: 1.7vw;
  padding: .4vw;
  display: block;
  line-height: normal
}

.dropdown-content {
  background-color: #f3f3f3;
  min-width: 130px;
  overflow: auto;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: #black;
  padding: 8px 8px;
  text-decoration: none;
  display: flex;
  justify-content: left;
}

.dropdown-content a:hover{
  font-weight: bold;
  color: #0492c2
}

@media screen and (max-width: 600px) {
  .navbar{
    background-color: white;
    height: 5vw;
    padding-top: .2vw;
    padding-bottom: .2vw;
  }
  
  .navbar a{
    color: black;
  }
  
  .navbar a:visited{
    color: black;
  }
  
  .navbar-right{
    float: right;
  }
  
  .navbar-logo{
    height: 2.8vw;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 5px;
  }
  
  .navbar-left {
    float: left;
    display: flex;
    margin-top: 1vw;
    margin-left: .5vw;
  }
  
  .dropdown {
    margin-left: 5px;
    overflow: hidden;
  }
  
  .dropbtn{
    height: 2.6vw;
    padding-left: .5vw; 
    padding-right: .5vw;
    margin-top: .2vw;
    margin-bottom: .2vw;
    border: .25px solid #c0c0c0;
    border-radius: 3px;
    vertical-align: middle;
  }
  
  .dropbtn:hover {
    background-color: #b2b2b2;
  }
  
  .mess-drop-btn{
    height: 2.6vw;
    padding-left: .5vw; 
    padding-right: .5vw;
    margin-top: .2vw;
    margin-bottom: .2vw;
    border: .25px solid #c0c0c0;
    border-radius: 3px;
    text-align: center;
  }
  
  .mess-drop-btn:hover {
    background-color: #b2b2b2;
  }
  
  .menu-div{
    display: inline-flex;
  }
  
  .menu-btn{
    height: 2vw;
    padding: 0px;
  }
  
  .mess-btn{
    height: 2.2vw;
    padding: 0px;
  }
  
  .navbar-left span{
    font-size: 1.7vw;
    padding: .4vw;
    display: block;
    line-height: normal
  }
  
  .dropdown-content {
    background-color: #f3f3f3;
    min-width: 12vw;
    overflow: auto;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    font-size: 2vw;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: .5px .5px;
    text-decoration: none;
    display: flex;
    justify-content: left;
  }
  
  .dropdown-content a:hover{
    font-weight: bold;
    color: #0492c2
  }
}

/* **************Footer************** */
.footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
  padding-top: .5vw;
}

.footer-logo{
  width: 3vw;
  height: 3vw;
}

.footer a{
  text-decoration: none;
  color: black;
  width: 17vw;
  font-size: 1.2vw;
  margin-top: .8vw;
  text-align: center;
}

.footer a:visited{
  color: black;
}


/* **************Sign Up / Sign In************** */
.sign-up-container, .signin-container{
  border: solid .25px #dedede;
  color: #515151;
  border-radius: 3px;
  background-color: white;
  padding: 1vh 1vw;
  margin: 15vh auto;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
  display: block;
  text-align: center;
  width: max-content;
}

.sign-up-container:hover, .signin-container:hover {
  border: solid .25px black;
}

.sign-up-container label, .signin-container label {
  font-size: 13px;
  font-weight: bold;
  padding: 0 .5vw;
}

.sign-up-container input[type="text"], .signin-container input[type="text"]{
  font-size: 12px;
  width: 150px
}

.sign-up-container input[type="password"], .signin-container input[type="password"]{
  font-size: 12px;
  width: 150px
}

.sign-up-container p{
  margin: 1vh;
  font-size: 8px;
}

.sign-up-container button, .signin-container button{
  border: none;
  border-radius: 3px;
  padding: .8vh 5px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 12px;
  background-color: #989898;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  margin-bottom: 1vh;
}

.sign-up-container button:hover, .signin-container button:hover{
  background-color: #0492c2;
}

input::-webkit-file-upload-button{
   border: none;
   border-radius: 3px;
   padding: .8vh 5px;
   color: #f9f9fa;
   font-weight: 525;
   font-size: 12px;
   background-color: #989898;
   box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

input::-webkit-file-upload-button:hover{
  background-color: #0492c2;
}


.google-signup, .google-signin{
  margin-top: 1vh
}

.divider-line-x {
  position: relative;
  text-align: center; 
  font-weight: bold;
  font-size: 12px;    
  color: #333;
  border-bottom: 1px solid #ccc;
  margin: 0 1.5vw;
  margin-bottom: 20px;
}

.divider-line-x span {
  position: relative; 
  top: 8px;
  padding: 0 1vw;    
  background: #fff;
}

@media screen and (max-width: 600px) {
  .sign-up-container{
    margin: 5vh auto;
  }
}

/* **************PROFILE CONTAINER************** */

.profile-container{
  width: 80vw;
  margin: auto;
  margin-top: 10px;
  border: solid .25px #dedede;
}

.profile-banner{
  width: 80vw;
  margin: auto;
}

.banner-box{
  width: inherit;
}

.banner-box img{
  width: inherit;
}

.profile-info{
  margin-top: -7vw;
  margin-left: 3vw;
  margin-right: 3vw;
  width: 74vw;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.profile-info img{
  border: white 4px solid;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.profile-info h1{
  margin: 0;
  padding: 0;
  font-size: 4vw;
  margin-top: 6vw;
}

.join-date{
  margin: 0;
  padding-top: 8vw;
  color: #7a7a7a;
  font-size: 1vw;
}

#calendar-logo{
  width: 2vw;
  height: 2vw;
  border-radius: 0;
  border: none;
  margin-right: 2px;
}

.join-date span{
  font-size: 1.6vw;
  font-weight: bold;
  vertical-align: super;
}

@media screen and (max-width: 600px) {

  .profile-container{
    width: 90vw;
    margin: auto;
    margin-top: 2vw;
    border: solid .25px #dedede;
  }
  

  .profile-banner{
    width: 90vw;
    margin: auto;
  }

  .banner-box{
    width: inherit;
  }

  .banner-box img{
    width: inherit;
  }

  .profile-info{
    margin-top: -7vw;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 84vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .profile-info img{
    border: white 3px solid;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
  }

  .profile-info h1{
    margin: 0;
    padding: 0;
    font-size: 5vw;
    margin-top: 6vw;
  }

  .join-date{
    margin: 0;
    padding-top: 8.5vw;
    color: #7a7a7a;
    font-size: 2vw;
  }

  #calendar-logo{
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 0;
    border: none;
    margin-right: 2px;
  }

  .join-date span{
    font-size: 1.6vw;
    font-weight: bold;
    vertical-align: super;
  }

}

/* **************Request List************** */
.requests-list{
  background-color: white;
  border-top: solid .25px #dedede;
  width: 80vw;
  margin-top: 5px;
  padding-bottom: 1.5vw;
}

.request-info{
  width: 70vw;
  margin: auto;
}

.request-info-table{
  width: 65vw;
  margin: auto;
  margin-top: .5vw;
}

.request-info-table th{
  width: 13vw;
  text-align: center;
  font-size: 1.2vw;
}

.request-card{
  background-color: white;
  border: solid .25px #dedede;
  border-radius: 5px;
  margin: 10px auto;
  margin-top: 0;
  width: 65vw;
  color: #515151;
}

.request-card:hover{
  border: solid .25px #061430;
}

.request-info-table td{
  width: 13vw;
  text-align: center;
  font-size: 1.4vw;
  font-weight: 550;
}

.req-match{
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-match-img{
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin-right: .5vw;
}

.request-status-img{
  border-radius: 50%;
  width: 1.9vw;
  height: 1.9vw;
  margin-right: .3vw;
}

.request-items{
  display: flex;
  width: 63vw;
  height: 4vw;
  padding: .5vw 0;
  margin: auto;
}

.request-items h4{
  margin: 1vw;
  font-size: 1.2vw;
  font-weight: 550;
  line-height: 2vw;
}
.request-item-img{
  height: 4vw;
  width: 4vw;
  margin-right: 1vw;
}

@media screen and (max-width: 600px) {
  .requests-list{
    background-color: white;
    border-top: solid .25px #dedede;
    width: 90vw;
    margin-top: .5vw;
    padding-bottom: 1vw;
  }
  
  .request-info{
    width: 80vw;
    margin: auto;
  }
  
  .request-info-table{
    width: 80vw;
    margin: auto;
    margin-top: .5vw;
  }
  
  .request-info-table th{
    width: 16vw;
    text-align: center;
    font-size: 1.2vw;
  }
  
  .request-card{
    background-color: white;
    border: solid .25px #dedede;
    border-radius: 5px;
    margin: 10px auto;
    margin-top: 0;
    width: 80vw;
    color: #515151;
  }
  
  .request-card:hover{
    border: solid .25px #061430;
  }
  
  .request-info-table td{
    width: 16vw;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 550;
  }

  .request-items{
    display: flex;
    width: 70vw;
    height: 4vw;
    padding: .5vw 0;
    margin: auto;
  }

}


/* **************Request Form************** */

.request-container{
  width: 80vw;
  background-color: white;
  margin: 10px auto;
  padding-bottom: 10px;
  border: solid .25px #dedede;
  
}

.request-container img{
  width: inherit;
}

.request-form{
  width: 70vw;
  margin: auto;
}

.request-form h2{
  font-family: 'Maximize';
  margin-top: 10px;
  margin-bottom: 0px;
  color: #061430;
  font-size: 2vw;
  text-align: center;
}

.request-form p {
  margin-top: 5px;
  font-size: 1.4vw;
  color: #515151;

}

.request-details{
  width: 70vw;
  border: solid .25px #dedede;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.request-details p{
  text-align: center;
  color: red;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 500;
}

.request-details:hover{
  border: solid .25px #061430;
}

.request-complete{
  width: 60vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.request-complete h3{
  font-size: 2vw;
  margin: 0;
}

.request-complete span{
  color: #0492c2;
}

.request-complete button{
  /* border: black solid .2px; */
  border: none;
  border-radius: 3px;
  padding: 1.6px 5px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 1.3vw;
  background-color: #989898;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.request-complete button:hover{
  background-color: #0492c2;
}

.search-filter{
  width: 60vw;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.search-filter input{
  margin: 0 5px;
  width: 20vw;
}

.search-filter button{
  border: none;
  border-radius: 3px;
  padding: 1.6px 5px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 1.4vw;
  background-color: #989898;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.search-filter button:hover{
  background-color: #0492c2;
}

.request-form h1{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #061430;
  font-size: 2.5vw;
}

.item-card{
  vertical-align: middle;
}

.img-column{
  width: 5vw;
}

.item-image{
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}

.item-name{
  width: 31vw;
  font-weight: 500;
  font-size: 1.5vw
}

.pref-column{
  width: 18vw;
}

.pref-column input{
  width: 16vw;
  font-size: 1.2vw;
}

.quantity-column{
  width: 5vw;
}

.quantity-column input{
  width: 2.5vw;
  margin-left: .8vw;
  font-size: 1.2vw;
}

.btn-column{
  text-align: right;
  width: 7vw;
}

.add-remove-btn{
  float: right;
  border: none;
  border-radius: 3px;
  width: 6vw;
  padding: 2px;
  color: #f9f9fa;
  font-weight: 525;
  font-size: 1.5vw;
  background-color: #989898;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}


#add-btn:hover{
  background-color: #0492c2;
}

#remove-btn{
  background-color: red;
}

@media screen and (max-width: 600px) {

  .request-container{
    width: 90vw;
    background-color: white;
    margin: 1.5vw auto;
    padding-bottom: 1vw;
    border: solid .25px #dedede;
  }

  .request-container img{
    width: inherit;
  }

  .request-form{
    width: 80vw;
    margin: auto;
  }

  .request-form h2{
    font-family: 'Maximize';
    margin-top: 10px;
    margin-bottom: 0px;
    color: #061430;
    font-size: 2.4vw;
    text-align: center;
  }
  
  .request-form p {
    margin-top: 5px;
    font-size: 1.5vw;
    color: #515151;
  }

  .request-details{
    width: 70vw;
    border: solid .25px #dedede;
    border-radius: 3px;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  
  .request-details p{
    text-align: center;
    color: red;
    margin: 0 auto;
    margin-top: 1vw;
    font-weight: 500;
  }
  
  .request-details:hover{
    border: solid .25px #061430;
  }
  
  .request-complete{
    width: 60vw;
    margin: 1vw auto;
    display: flex;
    justify-content: space-between;
  }
  
  .request-complete h3{
    font-size: 2vw;
    margin: 0;
  }
  
  .request-complete span{
    color: #0492c2;
  }
  
  .request-complete button{
    border: none;
    border-radius: 3px;
    padding: 1.6px 5px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.3vw;
    background-color: #989898;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  }
  
  .request-complete button:hover{
    background-color: #0492c2;
  }

  .search-filter{
    width: 60vw;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }

  .search-filter label{
    font-size: 1.5vw
  }
  
  .search-filter input{
    margin: 0 5px;
    width: 20vw;
    font-size: 1.5vw;
  }
  
  .search-filter button{
    border: none;
    border-radius: 3px;
    padding: 2.5px 5px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.5vw;
    background-color: #989898;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  }
  
  .search-filter button:hover{
    background-color: #0492c2;
  }

  .request-form h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #061430;
    font-size: 3.5vw;
  }

  .item-card{
    vertical-align: middle;
  }

  .img-column{
    width: 7vw;
  }

  .item-image{
    width: 6vw;
    height: 6vw;
  }

  .item-name{
    width: 34vw;
    font-weight: 500;
    font-size: 1.8vw
  }

  .pref-column{
    width: 20vw;
  }

  .pref-column input{
    width: 18vw;
    font-size: 1.6vw;
  }

  .quantity-column{
    width: 7vw;
    vertical-align: middle;
  }

  .quantity-column input{
    width: 3vw;
    margin-left: 2.1vw;
    font-size: 1.6vw;
  }

  .btn-column{
    text-align: right;
    width: 9vw;
    vertical-align: middle;
  }

  .add-remove-btn{
    float: right;
    border: none;
    border-radius: 3px;
    width: 7vw;
    padding: 2px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.6vw;
    background-color: #989898;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  }


  #add-btn:hover{
    background-color: #0492c2;
  }

  #remove-btn{
    background-color: red;
  }

}

/* **************Pending Requests************** */
.pending-req-container{
  width: 80vw;
  margin: auto;
  margin-top: 10px;
  border: solid .25px #dedede;
}

.pending-req-banner{
  width: inherit
}

.distance-filter{
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 30px;
}

.distance-filter label{
  font-weight: 550;
  font-size: 15px;
}

.distance-filter select{
  width: 10vw;
  margin: 1px .5vw;
  text-align: right;
  font-size: 15px;
}

.no-reqs{
  text-align: center
}

.no-reqs h1{
  font-size: 3vw;
}

.pending-requests, .no-reqs{
  border-top: solid .25px #dedede;
  background-color: white;
  padding: 10px 0;
}

.pending-requests .request-card{
  margin-bottom: 10px;
}

.request-card h5{
  margin: 0 auto;
  /* text-align: center; */
  width: 55vw;
  margin-top: .5vw;
  color: #061430;
  font-weight: 500;
  font-style: italic;
}

.requested-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 55vw;
  margin: auto;
}

.requested-item-card{
  width: 9vw;
  padding: .5vw;
  padding-top: 0;
  text-align: center;
}

.requested-item-card p{
  margin: 0;
  font-size: 1.15vw;
}

.req-item-pref{
  color: #0492c2;
  font-weight: bold;
}


.req-item-img{
  height: 6vw;
  width: 6vw;
}

.accept-btn-div{
  margin-bottom: 1vw;
  text-align: center;
}

.accept-btn-div button{
    border: none;
    border-radius: 3px;
    width: 10vw;
    padding: 2px;
    color: #f9f9fa;
    font-weight: 525;
    font-size: 1.2vw;
    background-color: #061430;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.accept-btn-div button:hover{
  background-color: #0492c2;
}

@media screen and (max-width: 600px) {
  .pending-req-container{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border: solid .25px #dedede;
  }
  
  .pending-req-banner{
    width: inherit
  }
  
  .distance-filter{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 4vw;
  }
  
  .distance-filter label{
    font-weight: 550;
    font-size: 1.8vw;
  }
  
  .distance-filter select{
    width: 25vw;
    margin: 1px .5vw;
    text-align: right;
    font-size: 1.7vw;
  }
}

/* **************Message Container************** */
.messages-container{
  width: 85vw;
  background-color: white;
  border: solid .25px #dedede;
  margin: 1vw auto;
}

.messages-banner{
  width: inherit;
}

.messages-area {
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 1vh auto;
  background-color: white;
  height: 75vh;
  }
  
  .convo-list-label{
    text-align: center;
    margin: 5px;
    font-weight: 550;
    color: #061430;
    font-size: 2vw;
  }
  .convo-list{ 
    grid-area: 1 / 1 / 6 / 3; 
    border: solid .25px #dedede;
    border-radius: 3px;
    margin: 0 1vw;
    margin-right: 0;
    height: 75vh;
    overflow: auto;
  }

  .convo-list::-webkit-scrollbar {
    display: none;
  }

  .chat-container{ 
    grid-area: 1 / 3 / 6 / 8; 
    border: solid .25px #dedede;
    border-radius: 3px;
    margin: 0 1vw;
    height: 75vh;
    background-color: #f3f3f3;
  }

  .default-chat-container{
    width: inherit;
    height: inherit;
    text-align: center; 
  }

  .default-chat-container p{
    margin: 0 auto;
    margin-top: 35vh;
    font-weight: bold;
    color: #061430;
    font-size: 3vw;
  }

  .convo-card{
    font-size: 1.8vw;
    margin: .5vw auto;
    border: solid .25px #dedede;
    border-radius: 3px;
    width: 20vw; 
    cursor: pointer;
  }

  .convo-card:hover{
    border:#061430 solid .25px;
  }

  #convo-selected {
    border: solid .5vw #0492c2;
  }

  .cc-req-match{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message-details{
    width: 11vw;
    font-size: 1.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message-details span{
    font-weight: bold;
    font-size: 2vw;
  }

  .cc-req-match img{
    border-radius: 50%;
    width: 5.8vw;
    height: 5.8vw;
    margin: .25vw .5vw;
    margin-left: 0;
  }
  .most-recent-message{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .new-message-notification{
    font-size: 1.5vw;
    color: #0492c2;
  }

  @media screen and (max-width: 600px) {
    .messages-container{
      width: 95vw;
      background-color: white;
      border: solid .25px #dedede;
      margin: 1vw auto;
    }
    
    .messages-area {
      width: 90vw;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 1vh auto;
      background-color: white;
      height: 75vh;
      }
      
  }
  /* ************Chat Banner************** */

  .chat-banner{
    width: inherit;
    padding-top: .5vw;
    height: 4vh;
    align-items: center;
    background-color: white;
  }

  .chat-banner h2{
    margin: 0;
    color: #061430;
    font-size: 3vh;
  }

  .chat-banner-left{
    float: left;
    margin-left: .5vw;
    display: flex;
  }

  .chat-banner-right{
    float: right;
    display: flex;
    margin-right: .5vw;
  }

  .chat-banner-left button{
    margin-left: .3vw;
  }

  .chat-banner button{
    height: auto;
    padding-left: .3vw; 
    padding-right: .3vw;
    border: none;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 1.2vw;
    background-color: #989898;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    color: #f9f9fa;
    font-weight: 525;
  }

  .cb-dropdown{
    position: relative;
    display: inline-block;
    margin-left: .3vw;
  }

  .chat-banner button:hover{
    background-color: #0492c2;
  }

  .cb-dropdown-content {
    background-color: #f3f3f3;
    width: 14vw;
    overflow: auto;
    z-index: 1;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    text-align: right;
  }

  .item-dropdown {
    margin: .3vw;
    color: black;
    padding: 0;
    display: inline-flex;
    /* align-items: center; */
  }

  .item-dropdown img{
    width: 2.8vw;
    height: 2.8vw;
    border: .1vw solid #0492c2;
    border-radius: 50%;
    margin: 0 .2vw;
  }

  .item-dd-info{
    margin: .2vw;
    overflow: hidden;
    display: block;
    align-items: center;
  }

  .item-dd-info {
    font-size: 1vw;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-dd-info p{
    margin: 0;
    font-size: .7vw;
    font-weight: bold;
    color: #0492c2;
  }

  #map{
    width: 45vw
  }

  .marker{
    position: relative;
    text-align: center;
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    .chat-banner h2{
      margin: 1vh 0;
      color: #061430;
      font-size: 3vw;
    }

    #map{
      width: 80vw
    }
  
  }


/* **************Chat Box************** */
.chat-box{
  border: solid .25px #dedede;
  background-color: white;
  border-radius: .5vw;;
  margin: 2.5vh auto;
  width: 55vw;
  height: 55vh;
  overflow: auto;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.default-message{
  text-align: center;
  color: #515151;
  font-weight: 550;
  font-style: italic
}


/* **************Message Form************** */
.new-message{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid .25px #dedede;
  background-color: white;
  border-radius: .5vw;;
  margin: auto;
  width: 55vw;
  height: 8vh;
}

.message-form input{
  width: 45vw;
}

.message-form button{
  height: 2.4vw;
  padding-left: .3vw; 
  padding-right: .3vw;
  margin-left: .5vw;
  border: .1vw solid #c0c0c0;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 1.3vw;
  background-color: #989898;
  color: white;
  box-shadow: 0px 1vw 1vw 0px rgba(0,0,0,0.2);
}

.message-form button:hover{
  background-color: #0492c2;
}

.emoji-picker{
    position: absolute;
    right: 9.5vw;
    top: 40vh;
}

#emoji-btn{
  float: right;
  margin: 0;
  margin-left: .5vw;
  cursor: pointer;
  align-items: center;
  vertical-align: center;
  line-height: 0;
}

@media screen and (max-width: 600px) {
  .message-form input{
    width: 40vw;
  }
}


/* **************Chat Box************** */
.chat-mess-card{
  border: solid .25px #dedede;
  border-radius: 3px;
  margin: 1vw;
  display: block;
  overflow: auto;
}

.chat-mess-card img{
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin: .5vw;
}

.chat-mess-card span{
  color: #515151;
  margin: .5vw;
  margin-bottom: 0;
  font-size: .8vw;
  font-style: italic;
}

#sent{
  background-color: #e6f3f8;
}

#received{
  background-color: #f5f5f5;
}

.sent{
  float: right;
  text-align: right;
}

.received{
  float: left;
}

.chat-mess-card p{
  margin: .5vw;
  width: 45vw;
  word-wrap: break-word
}

.chat-mess-card hr{
  visibility: hidden;
  margin: 0;
  margin-top: 4.5px;
}
